apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir
  namespace: monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mimir
  template:
    metadata:
      labels:
        app: mimir
    spec:
      containers:
      - name: mimir
        image: grafana/mimir:2.10.3
        imagePullPolicy: IfNotPresent
        args:
          - -target=all
          - -config.file=/etc/mimir/mimir.yaml
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: config
          mountPath: /etc/mimir
        - name: data
          mountPath: /data/mimir
      volumes:
      - name: config
        configMap:
          name: mimir-config
      - name: data
        emptyDir: {}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitor
data:
  mimir.yaml: |
    multitenancy_enabled: false

    server:
      http_listen_port: 8080
      grpc_listen_port: 9095

    memberlist:
      join_members:
        - 127.0.0.1

    distributor:
      ring:
        kvstore:
          store: inmemory

    ingester:
      ring:
        kvstore:
          store: inmemory
        replication_factor: 1

    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /data/mimir/blocks

    limits_config:
      ingestion_rate: 100000
      ingestion_burst_size: 200000

---
apiVersion: v1
kind: Service
metadata:
  name: mimir
  namespace: monitor
spec:
  selector:
    app: mimir
  ports:
  - port: 8080
    targetPort: 8080
