apiVersion: apps/v1
kind: Deployment
metadata:
  name: mimir
  namespace: monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mimir
  template:
    metadata:
      labels:
        app: mimir
    spec:
      containers:
      - name: mimir
        image: grafana/mimir:latest
        args: ["-config.file=/etc/mimir.yaml"]
        ports:
        - containerPort: 8080
        volumeMounts:
        - name: config
          mountPath: /etc
      volumes:
      - name: config
        configMap:
          name: mimir-config
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: monitor
data:
  mimir.yaml: |
    server:
      http_listen_port: 8080
    multitenancy_enabled: false
    blocks_storage:
      backend: filesystem
      filesystem:
        dir: /tmp/mimir
---
apiVersion: v1
kind: Service
metadata:
  name: mimir-distributor
  namespace: monitor
spec:
  selector:
    app: mimir
  ports:
  - port: 8080
