apiVersion: apps/v1
kind: Deployment
metadata:
  name: tempo
  namespace: monitor
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tempo
  template:
    metadata:
      labels:
        app: tempo
    spec:
      containers:
      - name: tempo
        image: grafana/tempo:2.4.1
        args:
          - -config.file=/etc/tempo/tempo.yaml

        ports:
        - containerPort: 3200   # http
        - containerPort: 4317   # otlp grpc
        - containerPort: 4318   # otlp http

        volumeMounts:
        - name: config
          mountPath: /etc/tempo

        - name: data
          mountPath: /data/tempo

      volumes:
      - name: config
        configMap:
          name: tempo-config

      - name: data
        emptyDir: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tempo-config
  namespace: monitor
data:
  tempo.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3200

    distributor:
      receivers:
        otlp:
          protocols:
            grpc:
            http:

    ingester:
      lifecycler:
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1

    storage:
      trace:
        backend: local
        local:
          path: /data/tempo/traces
---
apiVersion: v1
kind: Service
metadata:
  name: tempo
  namespace: monitor
spec:
  selector:
    app: tempo
  ports:
    - name: otlp-grpc
      port: 4317
      targetPort: 4317
    - name: otlp-http
      port: 4318
      targetPort: 4318
    - name: http
      port: 3200
      targetPort: 3200
