apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-agent-config
  namespace: monitor
data:
  agent.hcl: |
    discovery.kubernetes "pods" {
      role = "pod"
    }

    loki.source.kubernetes "pods" {
      targets    = discovery.kubernetes.pods.targets
      forward_to = [loki.write.default.receiver]
    }

    loki.write "default" {
      endpoint {
        url = "http://loki.monitor.svc:3100/loki/api/v1/push"
      }
    }

    otelcol.receiver.otlp "default" {
      grpc {}
      http {}

      output {
        traces  = [otelcol.exporter.otlp.gateway.input]
        metrics = [otelcol.exporter.otlp.gateway.input]
      }
    }

    otelcol.exporter.otlp "gateway" {
      client {
        endpoint = "alloy-gateway.monitor.svc:4317"
        tls {
          insecure = true
        }
      }
    }

    otelcol.processor.resource "k8s" {
      attributes {
        action = "insert"
        key    = "k8s.cluster.name"
        value  = "demo-cluster"
      }

      attributes {
        action = "insert"
        key    = "k8s"
        value = {
          namespace = "",
          pod       = "",
          container = "",
        }
      }

      output {
        traces  = [otelcol.exporter.otlp.gateway.input]
        metrics = [otelcol.exporter.otlp.gateway.input]
      }
    }
