apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-agent-config
  namespace: monitor
data:
  agent.hcl: |
    // =========================
    // K8s POD DISCOVERY (LOGS)
    // =========================
    discovery.kubernetes "pods" {
      role = "pod"
    }

    loki.source.kubernetes "pods" {
      targets    = discovery.kubernetes.pods.targets
      forward_to = [loki.write.default.receiver]
    }

    loki.write "default" {
      endpoint {
        url = "http://loki.monitor.svc:3100/loki/api/v1/push"
      }
    }

    // =========================
    // OTEL RECEIVER (TRACE + METRIC)
    // =========================
    otelcol.receiver.otlp "default" {
      grpc {}
      http {}

      output {
        traces  = [otelcol.processor.attributes.k8s.input]
        metrics = [otelcol.processor.attributes.k8s.input]
      }
    }

    // =========================
    // ADD K8S / CLUSTER ATTRIBUTES
    // =========================
    otelcol.processor.attributes "k8s" {
      actions = [
        {
          action = "insert",
          key    = "k8s.cluster.name",
          value  = "demo-cluster",
        },
        {
          action = "insert",
          key    = "deployment.environment",
          value  = "demo",
        }
      ]

      output {
        traces  = [otelcol.exporter.otlp.gateway.input]
        metrics = [otelcol.exporter.otlp.gateway.input]
      }
    }

    // =========================
    // EXPORT TO ALLOY GATEWAY
    // =========================
    otelcol.exporter.otlp "gateway" {
      client {
        endpoint = "alloy-gateway.monitor.svc:4317"
        tls {
          insecure = true
        }
      }
    }
