apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-agent-config
  namespace: monitor
data:
  agent.hcl: |
    otelcol.receiver.otlp "otlp" {
      grpc {}
      http {}
      output {
        traces  = [otelcol.exporter.otlp.gateway.input]
        metrics = [otelcol.exporter.otlp.gateway.input]
      }
    }

    otelcol.exporter.otlp "gateway" {
      endpoint = "alloy-gateway.monitor.svc:4317"
      tls { insecure = true }
    }

    loki.source.kubernetes "pods" {
      forward_to = [loki.process.pods.receiver]
    }

    loki.process "pods" {
      stage.labels {
        values = {
          namespace = ""
          pod       = ""
          container = ""
        }
      }
      forward_to = [loki.write.gateway.receiver]
    }

    loki.write "gateway" {
      endpoint {
        url = "http://loki.monitor.svc:3100/loki/api/v1/push"
      }
    }
