apiVersion: v1
kind: ServiceAccount
metadata:
  name: alloy-agent
  namespace: monitor
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: alloy-agent
rules:
  # Cho discovery + metadata (pods, namespaces, nodes)
  - apiGroups: [""]
    resources:
      - pods
      - namespaces
      - nodes
    verbs:
      - get
      - list
      - watch

  # Cho loki.source.kubernetes (labels, annotations)
  - apiGroups: ["apps"]
    resources:
      - replicasets
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - watch

  # Cho event (optional nhưng nên có)
  - apiGroups: [""]
    resources:
      - events
    verbs:
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: alloy-agent
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: alloy-agent
subjects:
  - kind: ServiceAccount
    name: alloy-agent
    namespace: monitor
