apiVersion: v1
kind: ConfigMap
metadata:
  name: alloy-gateway-config
  namespace: monitor
data:
  gateway.hcl: |
    // ================= RECEIVER =================
    otelcol.receiver.otlp "otlp" {
      grpc {}
      http {}

      output {
        traces  = [otelcol.processor.batch.default.input]
        metrics = [otelcol.processor.batch.default.input]
      }
    }

    // ================= PROCESSORS =================
    otelcol.processor.batch "default" {
      output {
        traces  = [otelcol.processor.tail_sampling.apm.input]
        metrics = [otelcol.exporter.prometheus.default.input]
      }
    }

    otelcol.processor.tail_sampling "apm" {
      policy {
        name = "errors"
        type = "status_code"
        status_code {
          status_codes = ["ERROR"]
        }
      }

      policy {
        name = "slow"
        type = "latency"
        latency {
          threshold_ms = 2000
        }
      }

      policy {
        name = "baseline"
        type = "probabilistic"
        probabilistic {
          sampling_percentage = 10
        }
      }

      output {
        traces = [otelcol.exporter.otlp.tempo.input]
      }
    }

    // ================= EXPORTERS =================

    otelcol.exporter.otlp "tempo" {
      endpoint = "tempo.monitor.svc:4317"
      tls {
        insecure = true
      }
    }

    otelcol.exporter.prometheus "default" {
      forward_to = [prometheus.remote_write.mimir.receiver]
    }

    prometheus.remote_write "mimir" {
      endpoint {
        url = "http://mimir-distributor.monitor.svc:8080/api/v1/push"
      }
    }
